In [1]:
import requests 
import pandas as pd
from bs4 import BeautifulSoup
from urllib.request import Request, urlopen
import time

In [2]:
path = r'List of stocks.csv'

In [3]:
tickers = pd.read_csv(path,header = None)

In [4]:
tickers.head()

                 0
0      A US EQUITY
1     AA US EQUITY
2    AAC US EQUITY
3   AACG US EQUITY
4  AACIU US EQUITY

In [5]:
tickers = tickers[0].str.split().str.get(0)

In [6]:
def find_between( s, first, last ):
    try:
        start = s.index( first ) + len( first )
        end = s.index( last, start )
        return s[start:end]
    except ValueError:
        return ""

In [7]:
def get_stockDescriptions(tickers):
    data = {}
    for x in tickers[:5]: # Change this if you want to see all but it will take a bit.
        try:
            site= "https://www.barchart.com/stocks/quotes/"+x+"/profile/"
            hdr = {'User-Agent': 'Mozilla/5.0'}
            req = Request(site,headers=hdr)
            page = urlopen(req)
            soup = BeautifulSoup(page)
            mydivs = soup.find_all("div", {"class": "text-block description"}) #Obtained inspectioning site
            dec = mydivs[0].find('p').text
            name = find_between(soup.title.text,"- "," -").replace(' Stock Profile', "")
            data[x] = {'Description':dec,'Company name':name}
            time.sleep(.5)
        except:
            print(x)
            
    return(pd.DataFrame(data).T)

In [8]:
get_stockDescriptions(tickers)

,Description,Company name
A,"Agilent Technologies, Inc. is an original equi...",Agilent Technologies
AA,"Alcoa is a global industry leader in bauxite, ...",Alcoa Corp
AAC,Ares Acquisition Corporation is a blank check ...,Ares Acquisition Corp Cl A
AACG,ATA Creativity Global is focused on providing ...,Ata Creativity Global ADR
AACIU,N/A,Armada Acquisition Corp I